.header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(13, 191, 96, 0.612);
    font-size: 0.5in;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
body {
    background-image: url('https://raw.githubusercontent.com/nsa-project/nsa-project.github.io/main/img/Project%20Green.png');
    background-position-x: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
h2 {
    text-align: center;
    font-family: monospace;
    background-color: rgba(58, 197, 123, 0.706);
    border-color: black;
    font-size: 0.25in;
}
.txt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.txtMiddle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
}
.infoButton {
    background-color: #4CAF50;
    border: 1px, wheat;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.25s;
}
.infoButton:hover {
    background-color: rgba(16, 82, 20, 0.692);
}
.planButton {
    background-color: #4CAF50;
    border: 1px, wheat;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.25s;
}
.planButton:hover {
    background-color: rgba(16, 82, 20, 0.692);
    
}
.txtBK {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: wheat;
}
.closeButton {
    background-color: #e24c07;
    border: 1px, wheat;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 16px;
    transition-duration: 0.25s;
}
.closeButton:hover {
    background-color: rgba(189, 8, 8, 0.692);
}