.header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(13, 191, 96, 0.612);
    font-size: 0.5in;
}
body {
    background-color: darkgray;
}
h2 {
    text-align: center;
    font-family: monospace;
    background-color: rgba(58, 197, 123, 0.706);
    border-color: black;
    font-size: 0.25in;
}
.txt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.txtMiddle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
}
.infoButton {
    background-color: #4CAF50;
    border: 1px, wheat;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.infoButton:hover {
    background-color: rgb(88, 160, 92);
}